*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(36, 50, 153);
color: #d79fb4;
}
body{
	background-color: #d9bbc6;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#d6abbb; 
}

.center{
	width: 90%;
	background-color: rgb(154, 170, 221);

}
.container
{
	border-radius: 20px;
    background-color: rgb(128, 128, 128);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #a16d80;
}
.navbar-brand{
font-size: 30px;	
}
